<p>For rooms reservations, please email: reservations@hotelt - or please call one of the toll free numbers below.

<br>For restaurant reservations, please email: restaurants@hotelt.com.

<br>For press enquiries, please email: pr@hotelt.com or visit the Press Centre.


<br>For other enquiries, please email: info@hotelt.com</p>
