<main>
<h1>Voulez-vous coucher avec nous ce soir?</h1>
<p>Room prices</p><br>
<% @rooms.each do |room| %>
<p> <%=room.title %><p/>
<p> <%=room.description %><p/>
<p> <%=room.price_per_night %><p/>

<%= image_tag room.image%>
    <% end %>



</main>
