// BASE STYLES
* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  background: white;
  font-size: 16px;
  overflow-x: hidden;
  tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  position: relative;
  height: 100%;
  background-color: #1F2124;
}

a {
  color: #F6B352;
  text-decoration: none;
}

// DEMO STYLES
.site-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas:
      "header"
      "hero"
      "main"
      "aside"
      "footer";
  min-height: 100%;

  @media (min-width: 768px) {
    grid-template-columns: 280px 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "header header header"
      "hero hero hero"
      "aside main main"
      "footer footer footer";
  }
}

header {
  grid-area: header;
  background-color: #383A3F;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
  }
}

hero {
  grid-area: hero;
  padding: 300px ;
  text-align: center;

  @media (min-width: 768px) {
    padding: 15rem 1rem;
  }
}

main {
  grid-area: main;
  background-color: #2C2F33;
  padding: 1rem;
  min-height: 200px;//TEST
}

aside {
  grid-area: aside;
  background-color: #616770;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #232D3D;
  padding: 1rem;
}

.nav {
  list-style: none;
  display: none;
  flex-direction: column;
  text-align: center;
  padding-top: 1rem;

  @media (min-width: 768px) {
    flex-direction: row;
    padding: 0;
    display: flex;
  }

  li {
    flex: 1 1 auto;
    padding: 1.6rem 0.5rem;

    @media (min-width: 768px) {
      margin-left: 1rem;
      padding: 0;
    }

    a {
      opacity: 0.85;
      transition: all 0.175s ease;
      color: #999;

      &:hover {
        opacity: 1;
        color: #F6B352;
      }
    }
  }

  &.is-open {
    display: flex;
  }
}

#nav-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 0.8;
  transition: all 0.175s ease;
  font-size: 0.9rem;

  @media (min-width: 768px) {
    display: none;
  }

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.logo {
  color: #1F2124;
  text-transform: uppercase;
  font-size: 0.9rem;
}
