<!DOCTYPE html>
<html>
  <head>
    <title>HotelSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>

    <!-- Logo -->
    <h1 class="logo"></h1>
    <!-- /Logo -->

    <!-- Nav Toggle -->
    <div id="nav-toggle">MENU</div>
    <!-- /Nav Toggle -->

    <!-- Navigation -->
    <ul class="nav">
      <li><a href="javascript:void(0);">Home</a></li>
      <li><a href="javascript:void(0);">Rooms</a></li>
      <li><a href="javascript:void(0);">Contact</a></li>
    </ul>
    <!-- /Navigation -->

  </header>
  <%= yield %>

  <footer>Tracy's hotel</footer>
  </div>
</body>

</html>
